<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VitulusUI_NEW</title>
    <link rel="stylesheet" href="assets/old/bootstrap/css/bootstrap_slate.min.css">
    <link rel="stylesheet" href="assets/old/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/old/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/old/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/old/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/old/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/old/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="assets/old/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/old/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/old/css/styles.css">
    <style>
         tab-1
            #ros_log::-webkit-scrollbar-track, #tab-map::-webkit-scrollbar-track
            {
              -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
              background-color: #37434d;
            }

            #ros_log::-webkit-scrollbar, #tab-map::-webkit-scrollbar
            {
              width: 10px;
              background-color: #37434d;
            }

            #ros_log::-webkit-scrollbar-thumb, #tab-map::-webkit-scrollbar-thumb
            {
              background-color: ##8f8f8f;
              border: 2px solid #555555;
            }

    </style>
    <script src="assets/old/js/jquery.min.js"></script>
    <script src="assets/old/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/old/js/three.min.js"></script>
    <script src="assets/old/js/easeljs.js"></script>
    <script src="assets/old/js/eventemitter2.js"></script>
    <script src="assets/old/js/roslib.js"></script>
    <script src="assets/old/js/keyboardteleop.js"></script>
    <script src="assets/old/js/nav2d.js"></script>
    <script src="assets/old/js/nipplejs.js"></script>
    <script src="assets/old/js/ros2d.js"></script>
    <script src="assets/old/js/ros3d.js"></script>
    <script src="assets/old/js/mjpegcanvas.js"></script>
    <script src="assets/old/js/maps.js"></script>


    <script type="text/javascript">
<!--        var ip = location.hostname;-->
<!--&lt;!&ndash;        var robot_IP = '{{ ros_ip }}';&ndash;&gt;-->
<!--        alert(ip);-->
<!--        var robot_IP = ip;-->
    </script>

</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height: 34px;background-color: #37434d;color: #ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#" style="color: var(--yellow);padding-top: 5px;padding-bottom: 5px;margin-right: 46px;">&nbsp;Vitulus UI</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div id="status_div" style="padding: 4px;background: #000000;border-radius: 7px;box-shadow: 2px 2px var(--primary);">
                    <img id="ico_wifi" src="assets/old/img/robot_icons/Nextion_ico_wifi_grey.png" style="margin-left: 4px;transform: scale(0.75);">
                    <img id="ico_gps" src="assets/old/img/robot_icons/Nextion_ico_gps_grey.png" style="margin-left: 4px;transform: scale(0.75);">
                    <img id="ico_gps_nav" src="assets/old/img/robot_icons/Nextion_ico_gpsnav_grey.png" style="margin-left: 1px;transform: scale(0.75);">
                    <img id="ico_imu" src="assets/old/img/robot_icons/Nextion_ico_imu_grey.png" style="margin-left: 1px;transform: scale(0.75);">
                    <img id="ico_lidar" src="assets/old/img/robot_icons/Nextion_ico_lidar_grey.png" style="margin-left: 1px;transform: scale(0.75);">
                    <img id="ico_camera" src="assets/old/img/robot_icons/Nextion_ico_camera_grey.png" style="margin-left: 1px;transform: scale(0.75);">
                    <img id="ico_mower" src="assets/old/img/robot_icons/Nextion_ico_mower_grey.png" style="margin-left: 9px;transform: scale(0.75);">
                    <img id="ico_fl_motor" src="assets/old/img/robot_icons/Nextion_ico_motorLF_grey.png" style="margin-left: 7px;transform: scale(0.75);">
                    <img id="ico_fr_motor" src="assets/old/img/robot_icons/Nextion_ico_motorRF_grey.png" style="margin-left: -1px;transform: scale(0.75);">
                    <img id="ico_rl_motor" src="assets/old/img/robot_icons/Nextion_ico_motorLR_grey.png" style="margin-left: -2px;transform: scale(0.75);">
                    <img id="ico_rr_motor" src="assets/old/img/robot_icons/Nextion_ico_motorRR_grey.png" style="margin-left: -1px;transform: scale(0.75);">
                    <img id="ico_temp_pcb" src="assets/old/img/robot_icons/Nextion_ico_tempPCB_grey.png" style="margin-left: 8px;transform: scale(0.75);">
                    <img id="ico_fan_pcb" src="assets/old/img/robot_icons/Nextion_ico_fanPCB_grey.png" style="margin-left: -3px;transform: scale(0.75);">
                    <img id="ico_temp" src="assets/old/img/robot_icons/Nextion_ico_temp_grey.png" style="margin-left: 3px;transform: scale(0.75);">
                    <img id="ico_fan" src="assets/old/img/robot_icons/Nextion_ico_fan_grey.png" style="margin-left: -5px;transform: scale(0.75);">
                    <img id="ico_supply" src="assets/old/img/robot_icons/Nextion_ico_supply_grey.png" style="margin-left: 5px;transform: scale(0.75);">
                    <img id="ico_batt" src="assets/old/img/robot_icons/Nextion_ico_batt_disabled.png" style="margin-left: 0px;transform: scale(0.75);">
                </div>

                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link active" style="color: #ffffff;padding-top: 5px;padding-bottom: 5px;" href="#"><i class="fa fa-th-large"></i>&nbsp;Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" style="color: #ffffff;padding-top: 5px;padding-bottom: 5px;" href="http://{{ ros_ip }}:7778/?rosbridge-websocket-url=ws://{{ ros_ip }}:9090"><i class="fa fa-wpexplorer"></i>&nbsp;WebViz</a></li>
                        <li class="nav-item"><a class="nav-link active" style="color: #ffffff;padding-top: 5px;padding-bottom: 5px;" href="#"><i class="fa fa-book"></i>&nbsp;Docs</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="d-flex align-items-start" style="padding: 10px;">
                    <div class="text-left d-inline-block" style="margin-right: 12px;border-radius: 1px;border: 1px solid var(--blue);">
                        <div style="background: #363739;border-top-left-radius: 3px;border-top-right-radius: 3px;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block"><i class="fa fa-square" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i><span style="color: var(--gray);">Speed</span></div>
                        </div>
                        <div class="d-inline-block" style="border-width: 1px;border-color: var(--blue);border-top-width: 0px;border-bottom-color: var(--blue);">
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" id="speed_slow" type="button">SLOW</button><button class="btn btn-primary" id="speed_medium" type="button">MEDIUM</button><button class="btn btn-primary" id="speed_fast" type="button">FAST</button></div>
                        </div>
                    </div>
                    <div class="text-left d-inline-block" id="motors_tool" style="margin-right: 12px;border: 1px solid var(--blue);border-radius: 1px;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block"><i class="fa fa-square" id="motors_tool_dot" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i><span style="color: var(--gray);">Motors</span></div>
                        </div>
                        <div class="d-inline-block" style="border-width: 1px;border-color: var(--blue);">
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" id="motors_on_btn" type="button">ON</button><button class="btn btn-primary" id="motors_off_btn" type="button">OFF</button></div>
                        </div>
                    </div>
                    <div class="text-left d-inline-block" style="margin-right: 12px;border: 1px solid var(--blue);border-radius: 1px;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block"><i class="fa fa-square" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i><span style="color: var(--gray);">Lidar</span></div>
                        </div>
                        <div class="d-inline-block" style="border-width: 1px;border-color: var(--blue);">
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" id="lidar_on_btn" type="button">ON</button><button class="btn btn-primary" id="lidar_off_btn" type="button">OFF</button></div>
                        </div>
                    </div>
                    <div class="text-left d-inline-block" id="battery_tool" style="margin-right: 12px;border-radius: 1px;border: 1px solid var(--blue) ;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block"><i class="fa fa-square" id="battery_tool_dot" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i><span style="color: var(--gray);">Battery&nbsp;</span><span class="text-uppercase ml-auto" id="battery_state" style="color: var(--gray);font-size: 9px;margin-right: 4px;">Discharging&nbsp;</span></div>
                        </div>
                        <div class="d-inline-block" style="border-width: 1px;border-color: var(--blue);margin-top: 7px;margin-bottom: 6px;margin-right: 5px;margin-left: 5px;">
                            <div class="progress" style="width: 133.875px;">
                                <div class="progress-bar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="battery_capacity" style="width: 0%;">0%</div>
                            </div>
                        </div>
                    </div>
                    <div class="text-left d-inline-block" id="battery_tool-1" style="margin-right: 12px;border-radius: 1px;border: 1px solid var(--blue) ;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block">
                                <i class="fa fa-square" id="battery_tool_dot-1" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);">  </i>
                                <span style="color: var(--gray);">RtabMap&nbsp;</span>
                                <span class="text-uppercase ml-auto" id="rtabmap_state" style="color: var(--info);font-size: 9px;margin-right: 4px;">&nbsp;&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex d-inline-block" style="border-width: 1px;border-color: var(--blue);margin-top: 4px;margin-bottom: 4px;margin-right: 5px;margin-left: 5px;height: 21px;">
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="rtabmap_proximity_span" style="padding-right: 2px;padding-left: 2px;background: #f9e814;margin: 0px;margin-right: 1px;margin-left: 1px;color: #555555;width: 91px;font-size: 12px;">Proximity 10000</span>
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="rtabmap_loop_closure_span" style="padding-right: 2px;padding-left: 2px;background: var(--green);margin: 0px;margin-right: 1px;margin-left: 1px;color: var(--gray-dark);width: 112px;font-size: 12px;">Loop Closure 10000</span>
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="rtabmap_refid_span" style="padding-right: 2px;padding-left: 2px;background: #747474;margin: 0px;margin-right: 1px;margin-left: 1px;width: 73px;font-size: 12px;">Ref ID 10000</span>
                        </div>
                    </div>

                    <div class="text-left d-inline-block" id="gnss_heading" style="margin-right: 12px;border-radius: 1px;border: 1px solid var(--blue) ;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block">
                                <i class="fa fa-square" id="battery_tool_dot-1" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i>
                                <span style="color: var(--gray);">GNSS&nbsp;HEADING</span>
                                <span class="text-uppercase ml-auto" id="gnss_heading_state" style="color: var(--info);font-size: 9px;margin-right: 4px;">&nbsp;&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex d-inline-block" style="border-width: 1px;border-color: var(--blue);margin-top: 4px;margin-bottom: 4px;margin-right: 5px;margin-left: 5px;height: 21px;">
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="gnss_heading_fix_span" style="padding-right: 2px;padding-left: 2px;background: #747474;margin: 0px;margin-right: 1px;margin-left: 1px;color: #555555;width: 91px;font-size: 12px;">Fix</span>
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="gnss_heading_fixstat_span" style="padding-right: 2px;padding-left: 2px;background: #747474;margin: 0px;margin-right: 1px;margin-left: 1px;color: #555555;width: 73px;font-size: 12px;">FixStat</span></div>
                    </div>

                    <div class="text-left d-inline-block" id="gnss" style="margin-right: 12px;border-radius: 1px;border: 1px solid var(--blue) ;">
                        <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                            <div class="d-xl-flex align-items-xl-center d-inline-block">
                                <i class="fa fa-square" id="battery_tool_dot-1" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i>
                                <span style="color: var(--gray);">GNSS FIX&nbsp;</span>
                                <span class="text-uppercase ml-auto" id="gnss_state" style="color: var(--info);font-size: 9px;margin-right: 4px;">&nbsp;&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex d-inline-block" style="border-width: 1px;border-color: var(--blue);margin-top: 4px;margin-bottom: 4px;margin-right: 5px;margin-left: 5px;height: 21px;">
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="gnss_fix_span" style="padding-right: 2px;padding-left: 2px;background: #747474;margin: 0px;margin-right: 1px;margin-left: 1px;color: #555555;width: 91px;font-size: 12px;;">Fix</span>
                            <span class="text-center d-xl-flex justify-content-xl-center align-items-xl-center" id="gnss_fixstat_span" style="padding-right: 2px;padding-left: 2px;background: #747474;margin: 0px;margin-right: 1px;margin-left: 1px;color: #555555;width: 91px;font-size: 12px;">FixStat</span></div>
                    </div>

                    <button class="btn btn-danger active d-flex align-items-center ml-auto" id="stop_btn" type="button" style="height: 53px;padding-right: 20px;padding-left: 20px;font-weight: bold;font-size: 19px;"><i class="fa fa-warning" style="margin-right: 5px;"></i>STOP</button>
                </div>
            </div>
        </div>
        <div class="row" style="height: 583px;">
            <div class="col-7" style="padding-right: 3px;">
                <div class="row">
                    <div class="col-12" style="padding-left: 15px;">
                        <div>
                            <header class="text-center d-xl-flex justify-content-xl-center" style="background: #333333;padding: 3px;padding-right: 6px;padding-left: 7px;">
                                <div class="text-left d-xl-flex justify-content-xl-start align-items-xl-center"><span>3D map view</span></div>
                                <div class="text-right d-xl-flex flex-fill justify-content-xl-end">
                                    <div class="btn-group btn-group-sm" role="group" style="margin-right: 7px;">
                                        <button class="btn btn-primary text-muted" id="obstacles_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Obstacles</button>
                                        <button class="btn btn-primary" id="ground_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Ground</button>
                                        <button class="btn btn-primary" id="scan_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Scan</button>
                                        <button class="btn btn-primary" id="local_costmap_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Local costmap</button>
                                        <button class="btn btn-primary" id="global_costmap_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Global costmap</button>
                                        <button class="btn btn-primary" id="btn_map_view_rtabmap" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">RtabMap</button>
                                        <button class="btn btn-primary" id="btn_map_view_planner_map" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Planner map</button>
                                        <button class="btn btn-primary" id="hide_marker" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Hide marker</button>
                                    </div>
                                    <div class="btn-group btn-group-sm" role="group"><button class="btn btn-danger" id="cancel_goal_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Cancel goal</button><button class="btn btn-primary" id="goal_btn" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Goal</button><button class="btn btn-primary" id="follow_target" type="button" style="padding-top: 1px;padding-bottom: 1px;font-size: 12px;">Follow robot</button></div>
                                </div>
                            </header>
                        </div>
                        <div id="3d_front_view_parent" style="border-style: solid;border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;margin-bottom: 9px;">
                            <div class="text-left" id="3d_view" style="height: 546px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;resize: vertical;overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="col-12" style="padding-right: 1px;padding-left: 1px;">
                        <div>
                            <header class="text-center d-xl-flex justify-content-xl-center" style="background: #333333;padding: 3px;padding-right: 6px;padding-left: 7px;">
                                <div class="text-left d-xl-flex justify-content-xl-start align-items-xl-center"><span>3D front view</span></div>
                                <div class="text-right d-xl-flex flex-fill justify-content-xl-end"></div>
                            </header>
                        </div>
                        <div id="3d_view_parent" style="border-style: solid;border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                            <div class="text-left" id="3d_front_view" style="height: 156px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;resize: vertical;overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="padding-right: 1px;padding-left: 1px;padding-top: 4px;padding-bottom: 4px;">
                        <div>
                            <header class="text-center d-xl-flex justify-content-xl-center" style="background: #333333;padding: 3px;padding-right: 6px;padding-left: 7px;">
                                <div class="text-left d-xl-flex justify-content-xl-start align-items-xl-center"><span>Camera view</span></div>
                                <div class="text-right d-xl-flex flex-fill justify-content-xl-end"></div>
                            </header>
                        </div>
                        <div id="camera_view_parent" style="border-style: solid;border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                            <div class="text-center img" id="camera_view" style="height: 156px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;resize: vertical;overflow: hidden;"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12" style="padding-right: 1px;padding-left: 1px;">
                        <div>
                            <header class="text-center d-flex" style="background: #333333;padding: 3px;padding-right: 6px;padding-left: 7px;">
                                <div class="text-left d-inline-flex"><span>Teleop</span></div>
                                <div class="d-inline-flex ml-auto" style="margin-right: 5px;">
                                    <div class="form-check"><input class="form-check-input" type="checkbox" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" id="keyboard_check" title="Enable keyboard teleop. (A,W,D,S)"><label class="form-check-label" for="formCheck-1" style="color: #747474;">Keyboard</label></div>
                                </div>
                            </header>
                        </div>
                        <div id="joy_view_parent" style="border-style: solid;border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                            <div class="d-lg-flex align-items-lg-center align-items-xl-center" style="height: 21px;background: #37434d;"><span id="keyboard_speed" style="color: #747474;margin-left: 2px;font-size: 12px;">0.42</span><span style="margin-right: 4px;color: #747474;font-size: 12px;">&nbsp;m/s</span><input class="flex-fill" type="range" data-toggle="tooltip" data-bss-tooltip="" data-placement="bottom" id="keyboard_slider" style="margin-right: 5px;" title="Set maximal speed for keyboard teleop."></div>
                            <div class="text-center d-flex img" id="joy_view" style="height: 140px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;position: relative;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3" style="padding-left: 3px;">
                <div>
                    <div style="font-size: 12px;margin-bottom: 5px;border-color: #333333;">
                        <ul class="nav nav-tabs" role="tablist" style="background: #333333;border-style: solid;border-color: #333333;">
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-map" style="padding-top: 4px;padding-bottom: 4px;">Map</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-ups" style="padding-top: 4px;padding-bottom: 4px;">UPS</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-mower" style="padding-top: 4px;padding-bottom: 4px;">Mower</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-diag" style="padding-top: 4px;padding-bottom: 4px;">Diag</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-motors" style="padding-top: 4px;padding-bottom: 4px;">Motors</a></li>
                        </ul>
                        <div class="tab-content" style="border-style: solid;border-color: #333333;border-right-color: #333333;border-bottom-color: #333333;border-left-color: #333333;padding-right: 3px;padding-left: 3px;">
                            <div class="tab-pane fade" role="tabpanel" id="tab-map" style="padding: 4px;border-color: #333333;overflow: auto;overflow-x: hidden;height: 542px;">
                                <div style="border: 1px solid #636363 ;">
                                    <header class="d-flex" style="padding: 2px;background: #333333;padding-left: 8px;"><span>Running map: </span>
                                        <span id="span_map_name" style="margin-left: 5px;"></span>
                                        <span style="margin-left: 5px;">(</span>
                                        <span id="span_map_indoor" style="margin-left: 1px;" ></span>
                                        <span style="margin-left: 1px;">)</span>
                                    </header>
                                    <div>
                                        <div class="btn-group btn-group-sm" role="group" style="width: 100%;">
                                            <button class="btn btn-primary" id="btn_map_indoor" type="button">Indoor&nbsp;</button>
                                            <button class="btn btn-primary" id="btn_map_outdoor" type="button">Outdoor</button>

                                        </div>
                                    </div>
                                    <div>
                                        <div class="btn-group btn-group-sm" role="group" style="width: 100%;">
                                            <button class="btn btn-primary" id="save_map" type="button">Save&nbsp;</button>
                                            <button class="btn btn-primary" id="new_map" type="button">New</button>
                                            <button class="btn btn-primary" id="mapping" type="button">Mapping</button>
                                            <button class="btn btn-primary" id="localization" type="button">Localization</button>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center" style="padding-left: 4px;margin-top: 3px;"><span class="text-nowrap" style="margin-right: 5px;width: 107px;">Map name:&nbsp;</span><input class="bg-dark border rounded-0 border-secondary" type="text" id="map_name_input" style="text-align: left;width: 100%;margin-right: 1px;color: #d9d9d9;"></div>
                                    <div style="margin: 4px;margin-top: 3px;"></div>
                                </div>
                                <div style="border: 1px solid #636363;margin-top: 4px;">
                                    <header class="d-flex" style="padding: 2px;background: #333333;padding-left: 8px;"><span>Navi manager log</span></header>
                                    <div></div>
                                    <div id="maplist-4" style="border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                                        <div style="margin-top: 4px;"></div>
                                        <div style="color: var(--info);resize: vertical;overflow: hidden;height: 32px;padding-right: 3px;padding-left: 6px;"><span id="log" style="color: #00aeef;padding: 0px;">Log info .....</span></div>
                                    </div>
                                    <div style="margin: 4px;margin-top: 3px;"></div>
                                </div>
                                <div style="border: 1px solid #636363;margin-top: 4px;">
                                    <header class="d-flex" style="padding: 2px;background: #333333;padding-left: 8px;margin-bottom: 3px;"><span>Available maps</span></header>
                                    <div id="maplist" style="border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                                        <div class="d-flex align-items-center" style="border-bottom: 1px solid #444444 ;">
                                            <div class="d-flex" style="width: 100%;padding-left: 6px;"><span>Test map</span></div>
                                            <div class="d-flex ml-auto" style="width: 68.6562px;"><span style="width: 47px;">100 GB</span></div>
                                            <div class="btn-group btn-group-sm d-flex ml-auto" role="group"><button class="btn btn-outline-info" type="button">Load</button><button class="btn btn-outline-danger" type="button">Remove</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="border: 1px solid #636363;margin-top: 4px;">
                                    <header class="d-flex" style="padding: 2px;background: #333333;padding-left: 8px;"><span>Map points</span></header>
                                    <div>
                                        <div class="btn-group btn-group-sm" role="group" style="width: 100%;"><button class="btn btn-primary" id="new_point" type="button">New point on current position&nbsp;</button></div>
                                    </div>
                                    <div class="d-flex align-items-center" style="padding-left: 4px;margin-top: 3px;border-bottom: 1px solid #333333;padding-bottom: 3px;"><span class="text-nowrap" style="margin-right: 5px;width: 107px;">Point name:&nbsp;</span><input class="bg-dark border rounded-0 border-secondary" type="text" id="point_name_input" style="text-align: left;width: 100%;margin-right: 1px;color: #d9d9d9;"></div>
                                    <div id="point_list" style="border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                                        <div class="d-flex align-items-center" style="border-bottom: 1px solid #444444 ;">
                                            <div class="d-flex" style="width: 100%;padding-left: 6px;"><span>Test point</span></div>
                                            <div class="btn-group btn-group-sm d-flex ml-auto" role="group"><button class="btn btn-outline-info text-nowrap" type="button">Goal</button><button class="btn btn-outline-info text-nowrap" type="button">Publish</button><button class="btn btn-outline-danger text-nowrap" type="button">Remove</button></div>
                                        </div>
                                    </div>
                                </div>
                                <div style="border: 1px solid #636363;margin-top: 4px;">
                                    <header class="d-flex" style="padding: 2px;background: #333333;padding-left: 8px;"><span>Map paths</span></header>
                                    <div>
                                        <div class="btn-group btn-group-sm" role="group" style="width: 100%;"><button class="btn btn-primary" id="new_path" type="button">New path</button><button class="btn btn-primary" id="new_path_point" type="button">New path point&nbsp;</button></div>
                                    </div>
                                    <div class="d-flex align-items-center" style="padding-left: 4px;margin-top: 3px;border-bottom: 1px solid #333333;padding-bottom: 3px;"><span class="text-nowrap" style="margin-right: 5px;width: 107px;">Path name:&nbsp;</span><input class="bg-dark border rounded-0 border-secondary" type="text" id="path_name_input" style="text-align: left;width: 100%;margin-right: 1px;color: #d9d9d9;"></div>
                                    <div id="path_list" style="border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;">
                                        <div class="d-flex align-items-center" style="border-bottom: 1px solid #444444 ;">
                                            <div class="d-flex" style="width: 100%;padding-left: 6px;"><span>Test path</span></div>
                                            <div class="btn-group btn-group-sm d-flex ml-auto" role="group"><button class="btn btn-outline-info text-nowrap" type="button">Execute</button><button class="btn btn-outline-info text-nowrap" type="button">Publish</button><button class="btn btn-outline-info text-nowrap" type="button">Add point</button><button class="btn btn-outline-danger text-nowrap" type="button">Remove</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-ups">
                                <p>UPS info:</p>
                                <div id="ups_info"></div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-mower" style="padding-bottom: 3px;">
                                <div class="text-center" style="margin-bottom: 5px;margin-top: 2px;"><span class="text-light" style="font-size: 15px;">Mower control</span></div>

                                <div class="text-left d-inline-block" id="mower_tool" style="margin-right: 12px;border: 1px solid var(--blue);border-radius: 1px;">
                                    <div style="background: #363739;border-top-width: 1px;border-top-color: var(--blue);border-right-width: 1px;border-right-color: var(--blue);border-left-width: 1px;border-left-color: var(--blue);">
                                        <div class="d-xl-flex align-items-xl-center d-inline-block">
                                            <i class="fa fa-square" id="motors_tool_dot" style="margin-right: 5px;margin-left: 4px;font-size: 10px;color: var(--blue);"></i>
                                            <span style="color: var(--gray);">Control</span></div>
                                    </div>
                                    <div class="" style="border-width: 1px;border-color: var(--blue);">
                                        <div class="btn-group btn-group-sm" role="group">
                                            <button class="btn btn-primary" id="mower_on_btn" type="button">ON</button>
                                            <button class="btn btn-primary" id="mower_off_btn" type="button">OFF</button>
                                            <button class="btn btn-primary" id="mower_cali_btn" type="button">CALIBRATION</button>
                                            <button class="btn btn-primary" id="mower_home_btn" type="button">HOME</button>
                                            <button class="btn btn-primary" id="mower_dir_right_btn" type="button">RIGHT</button>
                                            <button class="btn btn-primary" id="mower_dir_left_btn" type="button">LEFT</button>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="float-right"><span>Direction: </span><span id="mower_direction">RIGHT</span></div>
                                <div><span>Status: </span><span id="mower_status">UNK</span></div>
                                <div><span>&nbsp;</span></div>
                                <div><span>Cut height</span></div>
                                <div class="d-flex"><input class="flex-fill" type="range" id="mower_height_slider" min="20" max="65" step="1"><span class="text-right ml-auto" id="mower_height_slider_value" style="width: 22px;margin-right: 5px;">0</span><span class="text-right ml-auto" id="mower_height_slider_value-1" style="width: 22px;">mm</span></div>
                                <div><span>Current cut height:&nbsp;</span><span id="mower_current_height">0</span></div>
                                <div style="margin-top: 17px;"><span>Cut rpm </span>(<span id="mower_motor_rpm_setpoint"></span>)</div>
                                <div class="d-flex"><input class="flex-fill" type="range" id="mower_motor_rpm_slider" min="200" max="4000" step="200"><span class="text-right ml-auto" id="mower_motor_rpm_slider_value" style="width: 22px;margin-right: 5px;">0</span><span class="text-right ml-auto" id="mower_motor_rpm_slider_value-1" style="width: 22px;">rpm</span></div>
                                <div><span>Current cut rpm:&nbsp;</span><span id="mower_current_motor_rpm">0</span></div>
                                <div class="text-center d-flex justify-content-xl-center" style="margin-top: 13px;margin-bottom: 8px;">
                                    <button class="btn btn-success" id="mower_motor_start_btn" type="button">Start motor</button>
                                    <button class="btn btn-danger flex-fill" id="mower_motor_stop_btn" type="button">Stop motor</button>
                                </div>
                                <!--CMD1-->
                                <div class="text-center d-flex justify-content-xl-center" style="margin-top: 3px;">&nbsp;</div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">Command:</span>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" id="mower_cmd_input"  name="mower_cmd_input" style="font-size: 9.2px;background: var(--dark);color: var(--white);padding-top: 2px;padding-bottom: 2px;border-color: #1f2021;text-align: left;" placeholder="PIDP0503">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="mower_set_cmd_btn" type="button" style="height: 24.7969px;padding-top: 2px;">Send</button>
                                    </div>
                                </div>
                                <!--CMD2-->
                                <div class="text-center d-flex justify-content-xl-center" style="margin-top: 3px;">&nbsp;</div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">Command:</span>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" id="mower_cmd2_input"  name="mower_cmd2_input" style="font-size: 9.2px;background: var(--dark);color: var(--white);padding-top: 2px;padding-bottom: 2px;border-color: #1f2021;text-align: left;" placeholder="PIDP0503">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="mower_set_cmd2_btn" type="button" style="height: 24.7969px;padding-top: 2px;">Send</button>
                                    </div>
                                </div>
                                <!--CMD3-->
                                <div class="text-center d-flex justify-content-xl-center" style="margin-top: 3px;">&nbsp;</div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">Command:</span>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" id="mower_cmd3_input"  name="mower_cmd3_input" style="font-size: 9.2px;background: var(--dark);color: var(--white);padding-top: 2px;padding-bottom: 2px;border-color: #1f2021;text-align: left;" placeholder="PIDP0503">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="mower_set_cmd3_btn" type="button" style="height: 24.7969px;padding-top: 2px;">Send</button>
                                    </div>
                                </div>
                                <!--CMD4-->
                                <div class="text-center d-flex justify-content-xl-center" style="margin-top: 3px;">&nbsp;</div>
                                <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">Command:</span>
                                    </div>
                                    <input class="form-control form-control-sm" type="text" id="mower_cmd4_input"  name="mower_cmd4_input" style="font-size: 9.2px;background: var(--dark);color: var(--white);padding-top: 2px;padding-bottom: 2px;border-color: #1f2021;text-align: left;" placeholder="PIDP0503">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" id="mower_set_cmd4_btn" type="button" style="height: 24.7969px;padding-top: 2px;">Send</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" role="tabpanel" id="tab-diag">



                                <p>Diagnostic data:</p>



                                <div id="diag_content" style="font-size: 8px;"><span style="color: var(--success);">Text</span></div>
                                </hr>
                                <div class="" style="border-width: 1px;border-color: var(--blue);margin-top: 10px;">
                                    <div class="btn-group btn-group-sm" role="group">
                                        <button class="btn btn-primary" id="btn_run_calib" type="button">Run calibration</button>
                                        <button class="btn btn-primary" id="btn_save_calib" type="button">Save calibration data</button>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane fade show active" role="tabpanel" id="tab-motors">
                                <div>
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="font-weight-bold text-center" style="color: var(--blue);margin-bottom: -2px;">Motors</h5>
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend"><span class="input-group-text" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">Running:</span><span class="input-group-text" id="running_torque" style="height: 22.7969px;background: var(--primary);color: var(--light);font-size: 9.2px;border-color: var(--dark);">0</span></div><input class="form-control form-control-sm" type="number" id="torque_input" step="0.5" value="10" name="torque_input" min="0.1" max="13" style="font-size: 9.2px;background: var(--dark);color: var(--white);padding-top: 2px;padding-bottom: 2px;border-color: #1f2021;text-align: right;">
                                                <div class="input-group-append"><button class="btn btn-primary" id="set_torque_btn" type="button" style="height: 24.7969px;padding-top: 2px;">Set torque</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <div class="text-left"><span class="text-center" style="color: var(--blue);">LEFT FRONT</span></div>
                                                <div><span>Fault:&nbsp;</span><span id="motor_1_fault">Text</span></div>
                                                <div><span>Torque:&nbsp;</span><span id="motor_1_torque">Text</span><span>&nbsp;N/m</span></div>
                                                <div><span>Temp:&nbsp;</span><span id="motor_1_temp">Text</span><span>&nbsp;°C</span></div>
                                                <div><span>Velocity:&nbsp;</span><span id="motor_1_vel">Text</span><span>&nbsp;m/s</span></div>
                                                <div><span>Position:&nbsp;</span><span id="motor_1_pos">Text</span><span>&nbsp;m</span></div>
                                                <div><span>Volts:&nbsp;</span><span id="motor_1_volts">Text</span><span>&nbsp;V</span></div>
                                                <div><span>Mode:&nbsp;</span><span id="motor_1_mode">Text</span></div>
                                                <div><span>id:&nbsp;</span><span id="motor_1_id">Text</span></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <div class="text-left"><span class="text-center" style="color: var(--blue);">RIGHT FRONT</span></div>
                                                <div><span>Fault:&nbsp;</span><span id="motor_2_fault">Text</span></div>
                                                <div><span>Torque:&nbsp;</span><span id="motor_2_torque">Text</span><span>&nbsp;N/m</span></div>
                                                <div><span>Temp:&nbsp;</span><span id="motor_2_temp">Text</span><span>&nbsp;°C</span></div>
                                                <div><span>Velocity:&nbsp;</span><span id="motor_2_vel">Text</span><span>&nbsp;m/s</span></div>
                                                <div><span>Position:&nbsp;</span><span id="motor_2_pos">Text</span><span>&nbsp;m</span></div>
                                                <div><span>Volts:&nbsp;</span><span id="motor_2_volts">Text</span><span>&nbsp;V</span></div>
                                                <div><span>Mode:&nbsp;</span><span id="motor_2_mode">Text</span></div>
                                                <div><span>id:&nbsp;</span><span id="motor_2_id">Text</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <div>
                                                <div class="text-left"><span class="text-center" style="color: var(--blue);">LEFT REAR</span></div>
                                                <div><span>Fault:&nbsp;</span><span id="motor_3_fault">Text</span></div>
                                                <div><span>Torque:&nbsp;</span><span id="motor_3_torque">Text</span><span>&nbsp;N/m</span></div>
                                                <div><span>Temp:&nbsp;</span><span id="motor_3_temp">Text</span><span>&nbsp;°C</span></div>
                                                <div><span>Velocity:&nbsp;</span><span id="motor_3_vel">Text</span><span>&nbsp;m/s</span></div>
                                                <div><span>Position:&nbsp;</span><span id="motor_3_pos">Text</span><span>&nbsp;m</span></div>
                                                <div><span>Volts:&nbsp;</span><span id="motor_3_volts">Text</span><span>&nbsp;V</span></div>
                                                <div><span>Mode:&nbsp;</span><span id="motor_3_mode">Text</span></div>
                                                <div><span>id:&nbsp;</span><span id="motor_3_id">Text</span></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <div class="text-left"><span class="text-center" style="color: var(--blue);">RIGHT REAR</span></div>
                                                <div><span>Fault:&nbsp;</span><span id="motor_4_fault">Text</span></div>
                                                <div><span>Torque:&nbsp;</span><span id="motor_4_torque">Text</span><span>&nbsp;N/m</span></div>
                                                <div><span>Temp:&nbsp;</span><span id="motor_4_temp">Text</span><span>&nbsp;°C</span></div>
                                                <div><span>Velocity:&nbsp;</span><span id="motor_4_vel">Text</span><span>&nbsp;m/s</span></div>
                                                <div><span>Position:&nbsp;</span><span id="motor_4_pos">Text</span><span>&nbsp;m</span></div>
                                                <div><span>Volts:&nbsp;</span><span id="motor_4_volts">Text</span><span>&nbsp;V</span></div>
                                                <div><span>Mode:&nbsp;</span><span id="motor_4_mode">Text</span></div>
                                                <div><span>id:&nbsp;</span><span id="motor_4_id">Text</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-xl-0">
                <div id="ros_log_panel">
                    <div style="margin-top: 0px;">
                        <header class="text-center d-flex justify-content-xl-center" style="background: #333333;padding: 3px;padding-right: 6px;padding-left: 7px;">
                            <div class="text-left d-xl-flex justify-content-xl-start align-items-xl-center"><span>ROS&nbsp; log</span></div>
                            <div class="text-right d-xl-flex flex-fill justify-content-xl-end"><select class="form-control-sm" id="node_select" style="background: #37434d;margin-right: 4px;color: #8f8f8f;padding-top: 1px;padding-bottom: 1px;font-size: 8px;"></select><select class="form-control-sm" id="level_select" style="background: #37434d;margin-right: 4px;color: #8f8f8f;padding-top: 1px;padding-bottom: 1px;font-size: 8px;">
                                    <option value="1" selected="">DEBUG</option>
                                    <option value="2">INFO</option>
                                    <option value="4">WARN</option>
                                    <option value="8">ERROR</option>
                                    <option value="16">FATAL</option>
                                </select><button class="btn btn-outline-primary btn-sm text-center border rounded border-secondary" id="ros_log_full_screen" type="button" style="padding-top: 1px;padding-right: 8px;padding-bottom: 1px;font-size: 8px;margin-right: 4px;width: 60px;" title="Scroll down"><span id="ros_log_panel_full_screen_text">Full screen</span></button><button class="btn btn-outline-primary btn-sm text-center border rounded border-secondary" id="scroll_down" type="button" style="padding-top: 1px;padding-right: 8px;padding-bottom: 1px;font-size: 8px;width: 60px;" title="Scroll down"><span id="scroll_down_text">Pause view</span></button></div>
                        </header>
                    </div>
                    <div id="maplist-5" style="border-style: solid;border-top-style: none;border-right-color: rgb(51,51,51);border-bottom-color: #333333;border-left-color: #333333;margin-bottom: 9px;background: #272b30;">
                        <div class="text-left" id="ros_log" style="height: 110px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;overflow: auto;font-size: 14px;"><span style="color: rgb(90,90,91);">Text</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/old/js/jquery.min.js"></script>
    <script src="assets/old/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/old/js/bs-init.js"></script>
</body>

</html>