<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VitulusUI MobJoy</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
        <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/three.min.js"></script>
    <script src="assets/js/easeljs.js"></script>
    <script src="assets/js/eventemitter2.js"></script>
    <script src="assets/js/roslib.js"></script>
    <script src="assets/js/keyboardteleop.js"></script>
    <script src="assets/js/nav2d.js"></script>
    <script src="assets/js/nipplejs.js"></script>
    <script src="assets/js/ros2d.js"></script>
    <script src="assets/js/ros3d.js"></script>
    <script src="assets/js/mjpegcanvas.js"></script>
    <script src="assets/js/mobjoy.js"></script>

    <script type="text/javascript">
<!--        var ip = location.hostname;-->
<!--&lt;!&ndash;        var robot_IP = '{{ ros_ip }}';&ndash;&gt;-->
<!--        alert(ip);-->
<!--        var robot_IP = ip;-->
    </script>
</head>

<body>
    <div class="text-center d-flex img" id="joy_view" style="height: 600px;width: 100%;background: rgba(2,60,85,0.22);margin: 0px;padding: 4px;position: relative;"></div>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>