<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Vitulus UI</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Btn-Switch-Element.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script>
        window.onload = function() {
            // Connect to ROS.
            var ros = new ROSLIB.Ros({
            url : 'ws://{{ ros_ip }}:9090'
            });
            navi(ros)
        }
    </script>
</head>

<body>
    <h1>Simple map example</h1>
    <div id="map" style="width: 100%;height: 100%;"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/roslib.js"></script>
    <script src="assets/js/easeljs.js"></script>
    <script src="assets/js/eventemitter2.js"></script>
    <script src="assets/js/keyboardteleop.js"></script>

    <script src="assets/js/nav2d.js"></script>
    <script src="assets/js/nipplejs.js"></script>
    <script src="assets/js/ros2d.js"></script>
    <script src="assets/js/ros3d.js"></script>

<!--    <script src="assets/js/webui.js"></script>-->
    <script src="assets/js/nav.js"></script>
</body>

</html>