<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/assets/js/three.js"></script>
  <script src="/assets/js/easeljs.js"></script>
  <script src="/assets/js/eventemitter2.js"></script>
  <script src="/assets/js/roslib.js"></script>
  <script src="/assets/js/ros3d.js"></script>
  <script src="/assets/js/orthotest.js"></script>
  <title>ROS3D Orthographic Camera with Orbit Controls</title>
</head>
<body>
<button class="btn btn-outline-danger" id="btn_highlite" type="button">HighLite</button>
<button class="btn btn-outline-danger" id="btn_goal" type="button">Goal</button>
<input class="flex-fill" type="range" id="slider_marker_z" min="0" max="6.28" step="0.05" value="0">
  <div id="viewer"></div>

</body>
</html>