<!DOCTYPE html>
<html data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>VITULUS UI</title>
    <meta name="" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="../assets/img/VitulusOnGrassBlended180x180.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/VitulusOnGrassBlended16x16.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/VitulusOnGrassBlended16x16Dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/VitulusOnGrassBlended32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/VitulusOnGrassBlended32x32Dark.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="180x180" href="../assets/img/VitulusOnGrassBlended180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/VitulusOnGrassBlended192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="../assets/img/VitulusOnGrassBlended512x512.png">
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" href="../assets/css/Bitter.css">
    <link rel="stylesheet" href="../assets/css/Roboto.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="../assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="../assets/css/Feature-Section-MD.css">
    <link rel="stylesheet" href="../assets/css/Header-Dark.css">
    <link rel="stylesheet" href="../assets/css/Navbar-mob.css">
    <link rel="stylesheet" href="../assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/Vitulus_mobile_template.css">
<script src="/assets/js/three.min.js"></script>
<script src="/assets/js/easeljs.js"></script>
<script src="/assets/js/eventemitter2.js"></script>
<script src="/assets/js/roslib.js"></script>
<script src="/assets/js/ros3d.js"></script>
<script src="/assets/js/nipplejs.js"></script>
<script src="/assets/js/mob/imu_calibration.js"></script>
</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg" id="div_menu" style="background: #282b30;padding-top: 3px;padding-bottom: 3px;position: absolute;display: block;width: 100vw;">
            <div class="container-fluid"><a class="navbar-brand d-flex flex-grow-1 align-items-end" href="#" style="display: flex;padding: 2px;"><img src="../assets/img/vitulusShape.svg" width="114" height="27"><span style="margin-left: 9px;">IMU calibration</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" id="btn_navbar_toggler" style="height: 36px;border-width: 0px;"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav" style="color: rgba(40,43,48,0.99);/*z-index: 5000;*/">
                        <li class="nav-item d-inline-flex align-items-center" style="display: inline-flex;"><a class="nav-link" href="/mob/dashboard"><i class="icon ion-ios-home" style="margin-right: 8px;font-size: 18px;"></i>Dashboard</a></li>
                        <li class="nav-item d-inline-flex align-items-center" style="display: inline-flex;"><a class="nav-link" href="#"><i class="icon ion-ios-game-controller-b" style="margin-right: 8px;font-size: 18px;"></i>DS2 Controller</a></li>
                        <li class="nav-item dropdown show"><a class="dropdown-toggle nav-link" aria-expanded="true" data-bs-toggle="dropdown" href="#" style="/*height: 36px;*/padding-top: 6.5px;"><i class="fa fa-gear" style="margin-right: 8px;"></i>Tools&nbsp;</a>
                            <div class="dropdown-menu show" data-bs-popper="none"><a class="dropdown-item" href="/mob/motors"><i class="fa fa-gears" style="margin-right: 8px;"></i>Motors</a><a class="dropdown-item" href="/mob/power_module"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-battery-charging" style="margin-right: 8px;">
                                        <path d="M9.585 2.568a.5.5 0 0 1 .226.58L8.677 6.832h1.99a.5.5 0 0 1 .364.843l-5.334 5.667a.5.5 0 0 1-.842-.49L5.99 9.167H4a.5.5 0 0 1-.364-.843l5.333-5.667a.5.5 0 0 1 .616-.09z"></path>
                                        <path d="M2 4h4.332l-.94 1H2a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h2.38l-.308 1H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2z"></path>
                                        <path d="M2 6h2.45L2.908 7.639A1.5 1.5 0 0 0 3.313 10H2V6zm8.595-2-.308 1H12a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H9.276l-.942 1H12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.405z"></path>
                                        <path d="M12 10h-1.783l1.542-1.639c.097-.103.178-.218.241-.34V10zm0-3.354V6h-.646a1.5 1.5 0 0 1 .646.646zM16 8a1.5 1.5 0 0 1-1.5 1.5v-3A1.5 1.5 0 0 1 16 8z"></path>
                                    </svg>Power module</a><a class="dropdown-item" href="/mob/imu_calibration"><i class="icon ion-android-compass" style="margin-right: 8px;font-size: 18px;"></i>Imu calibration</a><a class="dropdown-item" href="/mob/mower"><i class="icon ion-gear-a" style="margin-right: 11px;font-size: 18px;"></i>Mower</a><a class="dropdown-item" href="/mob/diagnostics"><i class="fa fa-heartbeat" style="margin-right: 8px;font-size: 15px;"></i>Diagnostics</a></div>
                        </li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="icon ion-ios-navigate" style="margin-right: 8px;font-size: 18px;"></i>Navigation&nbsp;</a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="#"><i class="icon ion-map" style="margin-right: 8px;font-size: 18px;"></i>Maps</a><a class="dropdown-item" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-joystick" style="margin-right: 8px;font-size: 18px;">
                                        <path d="M10 2a2 2 0 0 1-1.5 1.937v5.087c.863.083 1.5.377 1.5.726 0 .414-.895.75-2 .75s-2-.336-2-.75c0-.35.637-.643 1.5-.726V3.937A2 2 0 1 1 10 2z"></path>
                                        <path d="M0 9.665v1.717a1 1 0 0 0 .553.894l6.553 3.277a2 2 0 0 0 1.788 0l6.553-3.277a1 1 0 0 0 .553-.894V9.665c0-.1-.06-.19-.152-.23L9.5 6.715v.993l5.227 2.178a.125.125 0 0 1 .001.23l-5.94 2.546a2 2 0 0 1-1.576 0l-5.94-2.546a.125.125 0 0 1 .001-.23L6.5 7.708l-.013-.988L.152 9.435a.25.25 0 0 0-.152.23z"></path>
                                    </svg>Joystick</a></div>
                        </li>
                        <li class="nav-item d-inline-flex align-items-center" style="display: inline-flex;"><a class="nav-link" href="#"><i class="icon ion-play" style="margin-right: 8px;font-size: 18px;"></i>Programs</a></li>
                        <li class="nav-item"></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="menu_spacer" style="height: 42px;"></div>
        <div id="div_content" style="height: calc(100vh - 42px);">
            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 0px;padding-left: 0px;overflow: hidden;padding-top: 3px;padding-bottom: 8px;">
                    <div id="div_btns" style="font-size: 13px;padding: 5px;background: rgba(58,63,68,0);border-radius: 8px;border: 1px none var(--bs-gray-800) ;">
                        <div class="btn-group btn-group-sm d-flex ms-auto flo" role="group" id="btngroup_imu_tools-1"><button class="btn btn-outline-danger" id="btn_remove_dcd" type="button">Remove DCD</button><button class="btn btn-outline-info" id="btn_reset_imu" type="button">Reset IMU</button><button class="btn btn-outline-info" id="btn_run_calibration" type="button">Run</button><button class="btn btn-outline-info" id="btn_save_dcd" type="button">Save</button></div>
                    </div>
                    <div id="div_diag" style="font-size: 13px;padding: 6px;height: calc(((100vh - 42px)/2) - 50px - 43px - 8px);"></div>
                    <div class="text-start text-center d-flex img float-end" id="joy_view" style="width: 100%;background: url(&quot;../assets/img/joystick_icon_45px.svg&quot;) center / auto no-repeat, rgba(2,60,85,0.22);/*resize: vertical;*/overflow: hidden;position: relative;height: 50px;"></div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" style="padding-right: 0px;padding-left: 0px;overflow: hidden;">
                    <div style="position: absolute;display: grid;"><span id="span_imu_deg" style="position: static;padding: 0px;padding-right: 7px;padding-left: 7px;margin: 2px;text-shadow: 0px 0px rgb(4,4,4);font-weight: bold;color: #1eb53a;margin-bottom: 0px;padding-bottom: 2px;margin-top: 0px;">Imu: 180</span><span id="span_nav_deg" style="position: static;padding: 0px;padding-right: 7px;padding-left: 7px;margin: 2px;text-shadow: 0px 0px rgb(4,4,4);font-weight: bold;color: #017bd5;margin-bottom: 0px;padding-bottom: 2px;margin-top: 0px;">Nav: 180</span><span id="span_mag_deg" style="position: static;padding: 0px;padding-right: 7px;padding-left: 7px;margin: 2px;text-shadow: 0px 0px rgb(4,4,4);font-weight: bold;color: #b70002;margin-bottom: 0px;padding-bottom: 2px;margin-top: 0px;">Mag: 180</span></div>
                    <div class="text-start" id="3d_view" style="width: 100%;background: rgba(2,60,85,0.22);/*resize: vertical;*/overflow: hidden;min-height: 100%;max-height: 100%;padding: 2px;"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../assets/js/webui.js"></script>
</body>

</html>